/* Basic CSS Reset */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img,
table, tr, td, article, aside, footer, header, nav, section, main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
