.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: snow;
  position: relative;
  overflow: auto;
}

header{
    padding-bottom: 10px;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: snow;
  padding-bottom: 10px;
}

h1{
  top:0;
  z-index: 9999;
  font-family: "Story Script", sans-serif;
  font-size: 70px;
  letter-spacing: 2px;
  font-kerning: normal;
  /*color: lightgrey;  */
  padding-top: 3px;
  padding-left: 30px;
  position: relative;
}

h2{
  font-family: "Story Script", sans-serif;
  font-size: 30px;
  color: blue;
  padding-left: 30px;
}

h3{
  font-family: "Story Script", sans-serif;
  font-size: 30px;
  color: darkslategray;
  padding-left: 50%;
}

h4{
  font-family: "Story Script", sans-serif;
  font-size: 20px;
  color: darkslategray;
  text-align: center;
  width: 80%;
}

h5{
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: blue;
}

a.one:link {
  font-family: "Story Script", sans-serif;
  font-size: 70px;
  text-decoration: none;
}

a.two:link {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-decoration: none;
}

a {
  margin-top: 0;
  text-decoration: none;
  padding-right: 20px;
  cursor: pointer;
  color: blue;
  font-family: "Lato", sans-serif;
}

a:hover{
  color: whitesmoke;
}

.fixed-nav-bar {
  z-index: 9999;
  width: 100%;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 19px;
  text-decoration: none;
  padding: 23px;
  padding-left: 20px;
  text-align: center;
}

main{
  width: 90%;
  padding-left: 15%;
  padding-top: 180px;
}

table{
  width: 80%;
  padding-left: 20%;
}

td{
  vertical-align: top;
}

/* Past Projects grid styling */
td img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  padding: 0;
  margin-bottom: 10px;
}

td h5 {
  margin-top: 0;
  padding-top: 0;
}

.container{
  width: 90%;
  padding-left: 20%;
}

p{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: darkslategray;
  width: 80%;
  text-align: justify;
  padding-top: 20px;
}

img{
  height: auto;
  width: 80%;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slidesjs-pagination-item{
  display: none;
  font-size: 20px;
}

#clearfix{
  overflow: auto;
}

#wrapper {
  padding: 0px;
}

#slides{
  width: 80%;
  font-family: "Story Script", sans-serif;
  font-size: 40px;
}

footer{
  position: fixed;
  bottom: 0;
  font-family: "Story Script", sans-serif;
  letter-spacing: 3px;
  font-weight: 900;
  font-size: 15px;
  color: blue;
  text-align: right;
  margin: auto;
  padding: 0px 1%;
  width: 100%;
  height: 50px;
  background-color: snow;
}

/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
    padding-left: 15px;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 24px;
    padding-left: 15px;
  }

  h3 {
    font-size: 22px;
    padding-left: 15px;
  }

  h4 {
    font-size: 18px;
    width: 95%;
  }

  h5 {
    font-size: 18px;
  }

  main {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 140px;
  }

  .container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  table {
    width: 100%;
    padding-left: 0;
  }

  td {
    display: block;
    width: 100% !important;
    padding: 10px 0;
  }

  p {
    width: 95%;
    font-size: 15px;
  }

  img {
    width: 100%;
    max-width: 100%;
  }

  .fixed-nav-bar {
    font-size: 16px;
    padding: 15px 10px;
  }

  .site-header {
    padding-bottom: 5px;
  }

  a {
    padding-right: 10px;
  }

  a.two:link {
    font-size: 16px;
  }

  footer {
    position: relative;
    height: auto;
    padding: 15px 5%;
    text-align: center;
    margin-top: 30px;
  }

  #slides {
    width: 100%;
    font-size: 28px;
  }

  a.one:link {
    font-size: 36px;
  }
}

/* Small mobile devices */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 28px;
    padding-left: 10px;
  }

  h2 {
    font-size: 20px;
    padding-left: 10px;
  }

  h3 {
    font-size: 18px;
    padding-left: 10px;
  }

  main {
    padding-top: 120px;
  }

  .fixed-nav-bar {
    font-size: 14px;
    padding: 10px 5px;
  }

  a {
    padding-right: 8px;
    font-size: 14px;
  }

  a.two:link {
    font-size: 14px;
  }
}
