.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  overflow: auto;
  /*background-color: #cacaca2e;*/
  /*background-color: #faf7f2;*/
  /*background-color: #fffdf7;*/
  background-color: #f9f9f7;

}

header{
/*    z-index: 9999;
    position: fixed;
    height: 250px;*/
    padding-bottom: 10px;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #f9f9f7;
  padding-bottom: 50px;
  margin-bottom: 10px;
}

h1{
  top:0;
  z-index: 9999;
   position: fixed;
  font-family: "Poppins", sans-serif;
  drop-shadow:0px 0px 100px #A8A8A8; 
   font-weight: 600;
  font-style: italic;
  font-size: 70px;
  letter-spacing: 2px;
  font-kerning: normal;
  padding-top: 20px;
  padding-left: 30px;
  position: relative;
  text-shadow: 2px 2px 4px lightgrey;
}

h2{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: darkslategrey;
  padding-left: 40px;
  text-shadow: 1px 1px 1px ghostwhite;
}

h3{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: darkslategrey;
  padding-left: 15px;
}

h4{
  font-family: "Poppins", sans-serif;
 font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
  text-align: center;
}

h5{
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-align: left;
  padding-left: 2%;
  color: darkslategrey;
    text-decoration: underline;
    text-decoration-style: wavy ;
    text-decoration-thickness: 1px ;
    text-shadow: 2px 2px 4px lightgrey;

}

  a.one: link { font-family:"Poppins", sans-serif;
                font-size: 70px; 
                text-decoration: none;}

  a.two: link { font:"Lato", sans-serif;
                font-size: 20px; 
                }


a {  
  text-decoration: none;
  cursor: pointer;
  color: #999999;
  font: Lato;
}


a:hover{
    color: lightgrey;
}

.fixed-nav-bar {
    z-index: 9999;
    width: 70%;
margin-left:15%;
margin-right: 15%;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
                font-size: 20px; 
                text-decoration: none;
    position: fixed;
    /*background-color: #2727277d;*/
    background-color: #f8f8ffe0 ;
    border-radius: 15px;
    padding: 15px;
     border-style: double;
  border-width: 5px;
  border-color: ghostwhite;
      box-shadow:0px 0px 100px #E1E1E1 ;
}

Main{
     width:90%;
     padding-left: 15%;
}

table{
     width:80%;
     padding-left: 20%;
}

.container{
    width: 90%;
    padding-left: 10%;
    padding-top: 220px;
}

p{
    font-family:"Roboto";
    font-size: 16px; 
    color: darkslategray; 
    width: 88%;
    padding-left: 2%;
    text-align: justify;
    padding-top: 20px;
}

img{
  height: auto ;
  width: 90%;
 /* padding-top: 20px;
  padding-bottom: 20px;*/
  margin-top: 20px;
  margin-bottom: 20px;
  position: center;
  border-radius: 10px;
  border-style: dotted;
  border-width: 1px;
  border-color: green;  
/*  border-width: 5px;
  border-color: green;*/
      box-shadow:3px 3px 5px #e0e0de; 

}



.slidesjs-pagination-item{
  display:none;
  font-size: 20px;
  }

.slidesjs-previous slidesjs-navigation{


}

.slidesjs-next slidesjs-navigation{


}

#clearfix{
  overflow: auto;
}

#wrapper {
  padding: 0px;
  }

#slides{
   width:80%;
 font: Story Script;
 font-size: 40px;
 
}


footer{
  position: fixed;
  bottom: 0; 
  font-family:"Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 12px;
  color: darkslategrey; 
  text-align: center;
  margin: auto;
  padding: 10px 5px 10px 0px;
  width: 100%;
  /*height: 50px;*/
  background-color: ghostwhite;
  /*background-color: #cacaca2e;*/
}
/* Mobile Responsiveness */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
    padding-left: 15px;
    letter-spacing: 1px;
  }

  h2 {
    font-size: 24px;
    padding-left: 15px;
  }

  h3 {
    font-size: 22px;
    padding-left: 15px;
  }

  h4 {
    font-size: 18px;
    width: 95%;
  }

  h5 {
    font-size: 18px;
  }

  main {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 140px;
  }

  .container {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  table {
    width: 100%;
    padding-left: 0;
  }

  td {
    display: block;
    width: 100% !important;
    padding: 10px 0;
  }

  p {
    width: 95%;
    font-size: 15px;
  }

  img {
    width: 100%;
    max-width: 100%;
  }

  .fixed-nav-bar {
    font-size: 16px;
    padding: 15px 10px;
  }

  .site-header {
    padding-bottom: 5px;
  }

  a {
    padding-right: 10px;
  }

  a.two:link {
    font-size: 16px;
  }

  footer {
    position: relative;
    height: auto;
    padding: 15px 5%;
    text-align: center;
    margin-top: 30px;

  }

  #slides {
    width: 100%;
    font-size: 28px;
  }

  a.one:link {
    font-size: 36px;
  }
}

/* Small mobile devices */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 28px;
    padding-left: 10px;
  }

  h2 {
    font-size: 20px;
    padding-left: 10px;
  }

  h3 {
    font-size: 18px;
    padding-left: 10px;
  }

  main {
    padding-top: 120px;
  }

  .fixed-nav-bar {
    font-size: 14px;
    padding: 10px 5px;
  }

  a {
    padding-right: 8px;
    font-size: 14px;
  }

  a.two:link {
    font-size: 14px;
  }
}

