<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Dream Farm Commons</title>
<link rel="stylesheet" type="text/css" href="/Dfc.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap" rel="stylesheet">
</head>
<body>
<div class="site-header">
<h1><a class="one" href="/Dfc.html">dream farm commons</a></h1>
<br><br>
<header>
<nav class="fixed-nav-bar">
<a class="two" href="/About.html">About</a>
<a class="two" href="javascript:void(0)">∞</a>
<a class="two" href="/Current.html">Current Exhibitions</a>
<a class="two" href="javascript:void(0)">∞</a>
<a class="two" href="/Future.html">Future Projects</a>
<a class="two" href="javascript:void(0)">∞</a>
<a class="two" href="/Past.html">Past Projects</a>
<a class="two" href="javascript:void(0)">∞</a>
<a class="two" href="/Visit.html">Visit</a>
<a class="two" href="javascript:void(0)">∞</a>
<a class="two" href="/Donate.html">Donate</a>
</nav>
</header>
</div>
<div class="donate-hero">
<img data-cms="donate.print-image" data-cms-type="image" src="/Images/ConnieZhang.jpg" alt="This Place Makes Me Happy" style="width: 60%; display: inline-block;">
</div>
<main>
<div class="container" style="padding-top: 20px;" data-cms="donate.intro">
<p><i>dream farm commons</i> is a generative resource providing opportunities for artists and audiences to engage their curiosity and foster community through culture and creativity. Beyond functioning as a gallery <i>dream farm commons</i> is a home to artist crits, film screenings, book clubs, dinners, talks, dance parties, sonic mediations and poetry readings. </p>

<p>Connie Zheng has generously made this limited edition print available as a fundraiser for Dream Farm Commons. Price $100</p>

<p>To purchase a print please email us at:<br>
<a href="mailto:info@dreamfarmcommons.com">info@dreamfarmcommons.com</a></p>

<p>Connie Zheng<br>
<i>A very abridged history of plant migrations</i>, mixed media on Yupo paper<br>
2020</p>

<p>A very abridged history of plant migrations is a mixed-media cartographic drawing (available as a downloadable poster or high-quality print for sale) that attempts to trace the origins — and migratory movements — of important food staples in the US over the past 500 years, highlighting the ways in which the violent history of colonization and globalization are embodied in the humble diasporic seed, and the ways in which agricultural and geopolitical histories have always been intertwined.</p>
</div>

<div class="two-column" style="padding-top: 40px;">

<div class="column" data-cms="donate.column-1">
<h3>PATREON</h3>
<img src="/Images/Judit.png" alt="Sea Creature" class="donate-img">
<p>
If you'd like to support our work please consider becoming a Patreon supporter. You can support with a range of levels beginning at $5 per month.
</p>
<br>
<h5><a href="https://www.patreon.com/dreamfarmcommons?fan_landing=true" title="Go to Patreon">Become a Patreon Supporter</a></h5>
</div>

<div class="column" data-cms="donate.column-2">
<h3>VENMO</h3>
<img src="/Images/venmo.avif" alt="venmo" class="donate-img">
<p>
Or, make a one-time donation via Venmo.
</p>
<br>
<h3>Thank you!</h3>
</div>

</div>
</main>

<footer data-cms="global.footer">349 15th Street, Oakland, CA 94612<br>
Open Fri-Sat 12-6PM and by appointment
<br>
<a href="mailto:info@dreamfarmcommons.com">info@dreamfarmcommons.com</a>
<a href="https://www.instagram.com/dreamfarmcommons/" target="_blank">@dreamfarmcommons</a>
</footer>
</body>
</html>
